@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
body {
  max-width: fit-content;
  margin: auto;
  border: 6px;
  background-color: red;
  font-weight: bold;
  text-decoration: underline;
  color: bisque;
}
h1 {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 100px;
  background-color: green;
  text-align: center;
  justify-content: space-between;
  
}

h2 {
  font-size: larger;
  color: white;
  font-style: oblique;
  font-weight: bolder;
}
table {
  background-color: black;
  justify-content: space-between;
  margin-top: auto;
  padding: 60px;
}
input {
  justify-content: space-between;
  border-style: dotted;
}
button {
  color: black;
  text-underline-position: auto;
}
tr {
  background-color: green;
}
img {
  padding: 10%;
  max-width: 100%;
  width: 300px;
  height: 300px;
  
  border-radius: 6px;
  border-color: bisque;
  
}
td {
  background-color: gray;
}
