body {
    max-width: fit-content;
    margin: auto;
    border: 6px;
    background-color: red;
    font-weight: bold;
    text-decoration: underline;
    color: bisque;
}
h1,h2{
    font-size: larger;
    color: white;
    font-style: oblique;
    font-weight: bolder;
    
}
table{
    background-color: black;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 0%;
    
}
input {
    justify-content: space-between;
     border-style: dotted;
}
button {
    color: black;
    text-underline-position: auto;
    
}
tr {
    background-color: green;
}